html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input{
	margin:0;
	padding:0;
	list-style: none;
}
a{
	text-decoration: none;
	color:#333;
}
em{
    font-style: normal;
}